<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first, required:true, autofocus: true %>
    <%= f.input :last, required:true %>
    <%= f.input :email, hint:"must be .edu address", required: true %>
    <%= f.input :phone, hint:"optional (useful for secure online payment through Venmo", required: false%>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<br>